{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-titre">
            <h1>L'organisation clé  d'un travail reussi</h1>
        </div>
        <div class="hero-image">
        
        </div>

    </section>
    <div class="container">
        <main>
            <section class="tuto-accueil">
                <div class="video">
                    <iframe width="100%" height="1000px" src="https://www.youtube.com/embed/WpPGeTlDNuI?si=1n0u9Q-Vm6xTcNDU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </section>
        </main>
    </div>
{% endblock %}
