{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div style="width: 100%; max-width: 600px;">
            <div class="card-body"style="padding: 2rem;">
                <h1 class="h4 text-center">Create new Task</h1>
            
                {{ include('task/formTask.html.twig') }}
            </div>
        </div>
        
    </div>
    <div class="text-center">
        <a href="{{ path('app_projet_show', {'id': task.projet.id}) }}" class="btn btn-primary">Retour au projet</a>
    </div>
{% endblock %}
