{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
{% block menu %}{% endblock %}
<div class="w-75 mx-auto">
    <h3>Mot de passe oublié</h3>
    <a href="{{ path('app_home') }}">
        <svg xmlns="http://www.w3.org/2000/svg" height="5%" width="5%" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com/ License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#63E6BE" d="M459.5 440.6c9.5 7.9 22.8 9.7 34.1 4.4s18.4-16.6 18.4-29l0-320c0-12.4-7.2-23.7-18.4-29s-24.5-3.6-34.1 4.4L288 214.3l0 41.7 0 41.7L459.5 440.6zM256 352l0-96 0-128 0-32c0-12.4-7.2-23.7-18.4-29s-24.5-3.6-34.1 4.4l-192 160C4.2 237.5 0 246.5 0 256s4.2 18.5 11.5 24.6l192 160c9.5 7.9 22.8 9.7 34.1 4.4s18.4-16.6 18.4-29l0-64z"/></svg>
    </a>
    Créez votre mot de passe pour accéder à <br>
    votre Espace Membre 
    <br>

    Cher(e) membre,

    <br>
    À la suite de votre demande, nous vous invitons à cliquer sur le bouton figurant ci-dessous pour définir en toute sécurité le mot de passe de votre Espace Membre.
    <br>
    <br>

    <a href="{link}">Je réinitialise mon mot de passe</a>

    <br>
    <br>
    Nous vous remercions de votre confiance.
    <br>

    L’équipe {team}

    {{ form(forgetPassword) }}
</div>
<div class="w-50 mx-auto">
    Vous avez déjà un compte? <a href="{{ path('app_login') }}">Connectez-vous</a>
</div>
{% for message in app.flashes('success') %}
    <div class="text-center w-75 mx-auto bg-info">
        {{ message }}
    </div>
{% endfor %}
{% endblock %}

